html {
	width: 100%;
	height: 100%;
}

body {
	
	width: 100%;
	background: linear-gradient(160deg, #11c137, #f7fff7, #11c137);
	font-family: monospace;
	font-size: 26;
	
}

.title {
	
	font-size: 32;
	border: 0;
	background: transparent;
	padding: 0px 3px;
	
}

.footer {
	
	font-size: 12px;
	margin-top: 200px;
	text-align: right;
	padding: 0px 10px;
	
}

.pageContent {
	
	width: 100%;
	height: 47%;

}

.errorText {
	
	color: red;
	
}

.fileBrows {
	color: green;
}

.historyStyle {
	
	width: 800px;
	height: 300px;
	background-color: transparent;
	padding: 0px 0px;
	
}

/*button styles*/

button:hover:enabled {
	
	-webkit-transition-duration: 0.1s;
	color: green;
	
}

button.mainNav {
	
	color: black;
	font-size: 26;
	width: 100%;
	background: transparent;
	border-color: grey;
	padding: 10px 5px;
	
}

button.back {
	
	font-size: 14;
	border: 0;
	background: transparent;
	
}

button.menu {
	
	font-size: 14px;
	border-radius: 10px;
	background-color: #99ff99;
	border-color: #99ff99;
	
}

/*table/cell styles*/
table.centered {
	
	background: #F8F8F8;
	text-align: center;
	margin: 0 auto;
	width: 40%;
	height: 30%;
	border-radius: 32px;
	
}

table.output {
	
	border: 1;
	
}

td.backCell {
	
	text-align: left;
	
}

td.longCell {
	
	width: 90%;
	text-align: left;
	
}

table.mainTable {
	
	width: 100%;
	height: 150%;
	
}

td.sideBar {
	
	width: 10%;
	height: 100%;
	border-top: 1px solid black;
	border-bottom: 1px solid black;
	background-color: transparent;
		
}

td.mainBody {
	
	width: 90%;
	height: 100%;
	border-left: 1px solid black;
	border-top: 1px solid black;
	border-bottom: 1px solid black;
	padding: 0px 10px;
	
}

td.dragAndDrop {
	
	border: 1 solid black;
	width: 95%;
	height: 180;
	text-align: center;
	border-radius: 5px;
	
}

td.outputLeft {
	
	text-align: left;
	border: 1;
	
}

td.outputRight {
	
	text-align: right;
	border: 1;
	
}

/*graphic classes*/

img.logout {
	
	width: 50px;
	height: 50px;
	padding: 0px 5px;
	
}

input.login {
	
	width: 100%;
	text-align: center;
	
}
